<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="tags.css" />
  <title>Input Tags</title>
  <script src="https://unpkg.com/vue@2.3.4/dist/vue.js"></script>
</head>
<body>
  <script type="text/x-template" id="tags-template">
    <div class="v-select">
      <div class="tags-input">
        <span v-for="tag in values" class="tag">
          {{tag}}
          <span class="close" @click="remove(tag)" />
        </span>
          <input
            type="text"
            class="main-input"
            ref="input"
            v-show="showInput"
            v-model.set="newTag"
            :maxLength="maxTagLen || null"
            @keydown.delete="removeLast"
            @blur.prevent="add(); doSuggest(false)"
            @keyup.comma="add"
            @keydown.enter="handleEnter"
            @keydown.tab.prevent="add"
            @keydown.up="setActive(active-1)"
            @keydown.down="setActive(active+1)"
            @focus="doSuggest(true)"
          />
          <input name="tags" type="hidden" :value="value" />
      </div>
      <ul class="dropdown-menu expand-transition" style="max-height:400px" v-show="suggestionOpen" @mouseout="removeActive()">
        <li v-for="(s, index) in suggestionsList" @mouseover="setActive(index)" :class="{highlight: active === index}">
          <a @mousedown.prevent="add($event, s)" href="#">{{s}}</a>
        </li>
      </ul>
    </div>
  </script>
  <div id="demo">
    <form>
      <p>Enter some tags:</p>
      <p><tags :max-tags="3" :max-tag-len="20" :suggest="suggest" /></p>
    </form>
  </div>
  <script src="tags.js"></script>
</body>
</html>